
body {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-content:center;
    background-color: lightslategray;
}
.etchContainer {
  box-sizing: border-box;
    height: 90vmin;
    width: 90vmin;
    margin: 10px;
    padding: 20px 15px;
    background-color:red; 
    border-radius: 10px;
    text-align: center;
    font-size: 200%;
    border: 5px outset red;
    box-shadow: 0px 0px 25px 10px #000000;
    display:flex;
    flex-direction: column;
    
}
.title {
    color: white;
  text-shadow: 1px 1px 2px  black, -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black;
    font-weight:bolder;
}
.controlButton {
    width:20%;
    height:70%;
    font-size: 4vmin;
    background-color:rgb(223, 223, 223);
    box-shadow: 0px 0px 3px 1px #000000;
    border-radius: 2px;
}
.gridItem{
    background-color: white; 
}
.colorBackground {
    --etchColor: hsl(1, 100%, 50%);
    background-color: var(--etchColor);
}
